@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url('../imagens/fundo.png') center center no-repeat;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main {
    height: 100vh;
    position: relative;
}

#phone {
    background: url('../imagens/frame-iphone.png') center center no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
    height: 627px;
    width: 311px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela {
    position: relative;
    top: 80px;
    left: 20px;
    border: none;
    height: 471px;
    width: 269px;
}
#redes-sociais {
    width: 100px;
    text-align: right;
    position: fixed;

    left: 94%;
}
#redes-sociais a img {
    border-radius: 50%;
    width: 50px;
    margin: 10px;
    display: block;
    box-shadow: 3px 1px 4px rgba(0, 0, 0, 0.3);
}

#redes-sociais img:hover {
    border: 2px solid rgba(237, 237, 237, 0.727);
    transform: translate(-5px, -8px);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    transition-duration: .8s;
}